*{
    padding:0;
    margin:0;
}
ul,li,ol{
    list-style: none;
}
a{
    text-decoration: none;
}

@media screen and (min-width:750px){
.box{
    background:#282828;
    height: 45px;
    color:white;
}
.box .d2{
    position: absolute;
    right: 112px;
    top:14px;
}
.box .d1{
    position: absolute;
    right: 263px;
    top:14px;
}
.box img{
    position: absolute;
    right:373px;
    top:14px;
}

/*导航*/
.navbar-default{
    height: 78px;
    width:1200px;
    margin:0 auto;
    background-color: white;
    border:1px solid white;
}
.navbar-default img{
    padding-top:13px;
}
.navbar-nav li{
    padding-top:13px;
    padding-left:81px;
    font-weight: bold;
}
#cb{
    color:#cb5405; 
    border-bottom:4px solid #cb5405;
}
#c:hover{
    color:#cb5405; 
    border-bottom:4px solid #cb5405;
}
#ksdz{
    display:none;
}



/*轮播图*/
#generic{
    margin-top:-10px;
    width:1200px;
    margin:0 auto;
}
#generic img{
    height: 445px;
}
#generic h1{
    position: absolute;
    bottom:321px;
    left: -110px;
}
#p1{
    position:absolute;
    bottom:252px;
    left: -110px;
    border-top:1px solid #e0e0e0;
    padding-top:5px;
    color:#e0e0e0;
}
#p2{
    position:absolute;
    bottom:220px;
    left: -110px;
    border-bottom:1px solid #e0e0e0;
    padding-bottom:5px;
    color:#e0e0e0;
}
#p3{
    display:none;
}





/*搜索*/
#box2{
    width:583px;
    height: 53px;
    /* margin:0 auto; */
    border:3px solid rgb(8, 8, 8,0.4);
    border-radius: 10px;
    position: absolute;
    top:450px;
    left:480px;
}
#box2 div{
    float:left;
}
#search1{
    width:145px;
    height:47px;
    background-color:#d3d3d8;
    border-radius:5px 0 0 5px; 
    float:left;
}
#search1 img{
    margin-left: -55px;
    margin-top:5px;
}
#search1 p{
    margin-left:50px;
    margin-top:-23px;
}
#search2{
    width:311px;
    height:47px;
    background-color:#e1e1e1;
    float:left; 
}
#search2 ul{
    height:14px;
    border-left:1px solid #6c6c6c;
    margin-left: 18px;
    margin-top:16px;
}
#search2 ul li{
    float:left;
    margin-left:22px;
    margin-top:-2px;
    color:#6c6c6c;
}
#search2 ul li a{
    color:#6c6c6c;
}
#search3{
    width:120px;
    height:47px;
    background-color:#cb5405;
    border-radius:0 5px 5px 0;
    float:left; 
}


/*接机*/
#boxjie{
    width:1200px;
    height: 364px;
    margin:0 auto;
    margin-top:48px;
}
#bj2{
    margin-left: -15px;
}
#bj1{
    height: 364px;
    width:265px;  
    background-color: #14316d; 
    border-radius: 0 5px 5px 0;
    position: absolute;
    margin-left:920px;
    margin-top:-365px;
    /* right:243px;
    bottom:-199px; */
}
#bj1 img{
    margin-left:87px; 
    margin-top:82px;   
}
#bj1 p{
    color:white; 
    margin-top:16px; 
    font-size:20px; 
    text-align: center;
}
#bj1 div{
    border:1px solid white; 
    width:175px; 
    height: 50px; 
    margin-top:43px; 
    margin-left:51px;
}
#bj1 div a{
    color:white;
}
#bj3{
    display:none;
}

/*热门路线*/
#boxre{
    width:1200px; 
    margin:0 auto; 
    margin-top:30px;
}
#br1{
    text-align: center;
}
#brp1{
    font-size:35px; 
    letter-spacing: 20px;
}
#brp2{
    font-size:20px;
}
#br2{
    margin-left:-15px;
}
#brd1{
    width: 589px; 
    height:100px; 
    background-color:black;
}
#brdp1{
    color:white; 
    padding-top:13px; 
    padding-left:41px;
}
#brdp2{
    color:white; 
    padding-left:41px;
}
#brdp2 span{
    font-size:20px;
}
#br3{
    float:left; 
    margin-left: -15px; 
    margin-top:-165px;
}
#br4{
    float:left; 
    margin-left: -8px;
}
#br5{
    float:left; 
    margin-top:8px;
    margin-left:-8px;
}
#brd2{
    width: 608px; 
    height:87px; 
    background-color:black; 
    opacity: 0.5; 
    position: absolute; 
    bottom:0px;
}
#brdpp1{
    color:white; 
    padding-top:13px; 
    padding-left:41px;
}
#brdpp2{
    color:white; 
    padding-left:41px;
}
#brdpp2 span{
    font-size: 20px;
}
#m1{
    display: none;
} 
#m3{
    display: none;
}
#br6{
    position: absolute;
    bottom:0px;
    right:-293px;
}
#icon1{
    display:none;
}




/*签证推荐*/
#h{
    display: none;
}
#boxq{
    width:1200px; 
    margin:0 auto; 
    margin-top:40px;
}
#bq1{
    float:left; 
    margin-left:-15px;
}
#bq2{
    float:left; 
    margin-left:2px;
}
#bq3{
    float:left; 
    margin-left:1px;
}
#bq4{
    float:left; 
    margin-left:2px; 
    margin-top:4px;
}
#bq5{
    float:left; 
    margin-left:1px; 
    margin-top:4px;
}
#bqd1{
    width: 398px; 
    height:73px; 
    background-color:black; 
    opacity: 0.5; 
    position: absolute; 
    bottom:0px; 
    text-align: center; 
    line-height: 73px;
}
#bqds1{
    color:white; 
    padding-top:13px;
}
#bqds2{
    color:white; 
    padding-left:41px;
}
#bqds2 span{
    font-size:20px;
}
#bqd2{
    width: 398px; 
    height:49px; 
    background-color:black; 
    opacity: 0.5; 
    position: absolute; 
    bottom:0px; 
    text-align: center; 
    line-height: 49px;
}
#bqp1{
    font-size:35px; 
    letter-spacing: 20px;
}
#br2{
    font-size:20px;
}
#nn{
    text-align: center;
}
#m4{
    display: none;
}










/*查看更多*/
#boxc{
    width:1200px; 
    margin:0 auto; 
    text-align: center;
}
#bcd{
    border:1px solid black; 
    width:175px; 
    height: 50px; 
    margin-top:50px; 
}
#bcd span{
    color:black;
}


#img1{
    margin-top:109px;
    margin-left:-100px;
}

/*使命愿景*/
#box5{
    width:1200px; 
    margin:0 auto;
    position:absolute; 
    top:3488px;  
}
#boxs{
    text-align: center;
}
#bsp{
    font-size:35px;
    letter-spacing: 20px;
}
#boxs2{
    width:1200px; 
    margin:0 auto; 
    /* background-color:red; */
}
#boxs2 div{
    float:left;
}
#bsd1{
    width:704px; 
    height:350px; 
    background-color:#1b4d7b; 
    text-align: center;
}
#bsdp1{
    color:white; 
    font-size:28px; 
    padding-top:88px;
}
#bsdd{
    width:522px; 
    height:134px; 
    padding-top:20px; 
    margin-left: 115px
}
#bsdd p{
    color:white; 
    line-height:35px;
}
#bbs3{
    display: none;
}

#box6{
    width:1200px; 
    height: 396px; 
    background-color:#1b4d7b;
    margin-top:5px;
    border-radius:5px;
}
#box6 div{
    width:284px; 
    height: 396px; 
    float: left; 
}
#bo1{
    margin-left: 132px;
}
#bo2{
    margin-left: 57px;
}
#boq1{
    padding-top:47px; 
    padding-left:43px;
}
#boq2{
    position: absolute; 
    bottom:246px; 
    left:255px;
}
#boq3{
    position: absolute; 
    bottom:246px; 
    left:600px;
}
#boq4{
    position: absolute; 
    bottom:246px; 
    left:945px;
}
#bop1{
    font-size:20px; 
    color:white; 
    text-align:center; 
    margin-top:-75px;
}
#bop2{
    color:white; 
    text-align: center; 
    margin-top:85px; 
    line-height: 25px;
}
#bbs1{
    display: none;
}



#bottom{
    color:#aaaaaa;
    margin-top:495px;
    margin-left:0px;
}
#bottom li a{
    color:#aaaaaa;
}
#bottom li{
    float:left;
}
#bottom div{
    width: 1200px;
    margin:0 auto;
    float: left;
    background-color: black;
}
#bt1{
    width:1200px;
    margin:0 auto;
    height:105px;
}
#bt1 li{
    font-size:10px;
    padding-top:30px;
}
#bt1 li img{
    margin-left: 22px;
}
#bt1 li a{
    position: absolute;
    margin-left:55px;
    margin-top:8px;
}
#bt1 #btt2{
    margin-left:33px;
}
#bt1 #btt1{
    height:105px;
    font-size: 14px;
    margin-left: 12px;
}
#bt2{
    height:76px;
}
#bt2 ul{
    margin-top: 15px
}
#bt2 li{
    font-size: 10px;
    margin-left: 14px;
    line-height: 25px;
}
#bt2 li:first-child{
    font-size: 14px;
    margin-left: 12px;
    height:105px;
}


/*bottom*/
#bottom2{
    width:1200px;
    height: 160px;
    margin:0 auto;
    background-color: black;
    border-top:1px solid #aaaaaa;
    color:#aaaaaa;
    text-align:center;
    padding-top:40px;
    margin-left:15px;
}

}






















@media screen and (max-width:750px){
.box{
    display: none;
}

/*导航*/
.navbar-default{
    width:668px;
    margin:0 auto;
    height: 78px;
    background-color:white;
    border:1px solid white;
}
.navbar-default img{
    padding-top:17px;
}
.navbar-default button{
    margin-top:25px;
}
#ksdz{
    width:164px;
    height: 54px;
    background-color: #e8420a;
    border-radius: 8px;
    position: absolute;
    top:22px;
    left:398px;
    color:#fefefe;
    text-align: center;
    font-size: 25px;
}





/*轮播图*/
#generic{
    width:750px;
    height:365px;
    margin:0 auto;
}
#generic img{
    width:750px;
    height:360px;
    overflow: hidden;
}
#generic h1{
    position: absolute;
    bottom:243px;
    left:-80px;
} 
#p1{
    display:none;
}
#p2{
    display:none;
}
#p3{
    position:absolute;
    bottom:183px; 
    left: -80px;
    padding-top:5px;
    color:#e0e0e0;
    font-size: 25px;
}



/*搜索*/
#box2{
    width:668px;
    height: 77px;
    border:5px solid rgb(8, 8, 8,0.4);
    border-radius: 10px;
    position: absolute;
    top:324px;
    left:38px;
}
#box2 div{
    float:left;
}
#search1{
    width:162px;
    height:67px;
    background-color:#d3d3d8;
    border-radius:5px 0 0 5px; 
    float:left;
}
#search1 img{
    margin-left: -55px;
    margin-top:15px;
}
#search1 p{
    margin-left:50px;
    margin-top:-25px;
    font-size:18px;
}
#search2{
    width:350px;
    height:67px;
    background-color:#e1e1e1;
    float:left; 
}
#search2 ul{
    height:14px;
    border-left:1px solid #6c6c6c;
    margin-left: 18px;
    margin-top:26px;
    font-size: 18px;
}
#search2 ul li{
    float:left;
    margin-left:22px;
    margin-top:-5px;
    color:#6c6c6c;
}
#search2 ul li a{
    color:#6c6c6c;
}
#search3{
    width:146px;
    height:67px;
    background-color:#cb5405;
    border-radius:0 5px 5px 0;
    float:left; 
    padding-top:18px;
}


/*接机*/
#boxjie{
    width:750px;
    height: 239px;
    margin:0 auto;
    background-color:#f5f5f5;
    margin-top:-5px;
}
#bj2{
    display: none;
}
#bj1{
    display:none;
}
#bj3{
    width:750px;
    height:196px;
    margin-top:20px;
    margin-left:-15px; 
    background-color: white;
}
#bj3 img{
    margin-left:40px;
    margin-top:44px;
}
#bjp1{
    color:#1c5080;
    font-size:25px;
    position: absolute;
    left:154px;
    bottom:22px;
}
#bjp2{
    color:#666666;
    font-size:18px;
    margin-left: 154px;
    margin-top:-40px;
}
#bjp3{
    color:#666666;
    font-size:18px;
    margin-left: 154px;
    margin-top:5px;
}
#bj3 div{
    width:165px;
    height:54px;
    border:1px solid #1c5080;
    border-radius:10px;
    font-size:25px; 
    position: absolute;
    left:510px;
    bottom:-10px;
}

/*热门路线*/
#br4{
    display:none;
}
#br5{
    display:none;
}
#brp2{
    display:none;
}
#br6{
    display:none;
}
#bre{
    width:668px;
    height:968px;
}
#br1{
    width:668px;
    height:100px;
    margin-left:42px;
    font-size: 25px;
    border-bottom:1px solid #e8e8e8;
    padding-top:49px;
    padding-left:0px;
}
#m{
    border-left:3px solid red;
    padding-left:12px;
}
#boxre img{
    width:668px;
    height:396px;
}
#br2{
    margin-top:18px;
    margin-left:27px;
}
#brd1{
    width: 668px; 
    height:115px; 
    background-color:black;
    opacity: 0.7;
    position: absolute;
    bottom:0px;
}
#brdp1{
    display: none;
}
#m2{
    color:white; 
    font-size:25px;
}
#m1{
    padding-left:15px;
    padding-top:23px;
}
#brdp2{
    color:white; 
    padding-left:41px;
    position: absolute;
    font-size:18px;
    position: absolute;
    right:25px;
    bottom:30px;
} 
#brdp2 span{
    font-size:30px;
}
#br3{
    margin-top:23px;
    margin-left:27px;
}
#m3{
    width:225px;
    height: 55px;
    border:1px solid #a3a3a3;
    border-radius: 10px;
    font-size: 30px;
    margin-top:40px;
    margin-left:280px;
}
#m3 a{
    color:#a3a3a3;
}


/*签证推荐*/ 
#bqp2{
    display:none;
}
#bq3{
    display: none;
}
#bq4{
    display: none;
}
#boxq{
    width:760px;
    height:710px;
    background-color: #f5f5f5;
    position: absolute;
    top:1750px;
    left:0px;
}
#n1{
    width:780px;
    height:100px;
    background-color: white;
    margin-top:20px;
}
#n{
    width:668px;
    height:100px;
    font-size: 25px;
    border-bottom:1px solid #e8e8e8;
    padding-top:49px;
    background-color: white;
    margin-left:28px;
}
#bqp1{
    border-left:3px solid red;
    padding-left:12px;
}
#n2{
    width:750px;
    height:671px;
    float:left;
    background-color: white;
}
#bq1 img{
    width:294px;
    height: 408px;
    margin-top:18px;
    margin-left:27px;
}
#bq2 img{
    width:362px;
    height: 197px;
}
#bq5 img{
    width:362px;
    height: 197px;
}
#bqd1{
    width: 294px; 
    height:57px; 
    background-color:black; 
    opacity: 0.7; 
    position: absolute; 
    bottom:0px; 
    left:42px; 
}
#bqds1{
    color:white; 
    font-size: 20px;
    padding-top:20px;
    padding-left:10px;
}
#bqds2{
    color:white; 
    padding-left:38px;
    font-size: 20px;

}
#bqds2 span{
    font-size:30px;
}
#bqd2{
    width: 362px; 
    height:50px; 
    background-color:black; 
    opacity: 0.7; 
    position: absolute; 
    bottom:0px;    
}
#bq2{
    position: absolute;
    bottom:165px;
    left:334px;
}
#bq5{
    position: absolute;
    bottom:375px;
    left:334px;
}
#m4{
    width:225px;
    height: 55px;
    border:1px solid #a3a3a3;
    border-radius: 10px;
    font-size: 30px;
    margin-top:-350px;
    margin-left:250px;
}
#m4 a{
    color:#a3a3a3;
}



#boxc{
    display:none;
}

/*使命和愿景*/
#bspp{
    display:none;
}
#dox5{
    width:760px;
    margin:0 auto;
}
#h{
    width:780px;
    height:20px;
    background-color: #f5f5f5;
    position: absolute;
    left:0px;
    top:710px;
}                                                                
#boxs{
    width:668px;
    height:100px;
    font-size: 25px;
    border-bottom:1px solid #e8e8e8;
    padding-top:49px;
    background-color: white;
    margin-left:28px;
    margin-top:-65px;
}
#bsp{
    border-left:3px solid red;
    padding-left:12px;
    margin-left:-14px;
}
#bbs{
    margin-top:50px;
    margin-left:28px;
}
#bsd1{
    width:668px;
    margin:0 auro;
    margin-left: 28px;
    margin-top:70px;
}
#bsdp1{
    display: none;
}
#bbs1{
    font-size:25px;
    font-weight: bold;
    text-align: center;
}
#bsdd{
    font-size: 16px;
    font-weight: bold;
    margin-top:17px;
}
#bbs2{
    margin-left:10px;
    margin-top:40px;
}
#bbs3{
    font-size:25px;
    font-weight: bold;
    text-align: center;
    margin-top:65px;
}
#bo1{
    width:668px;
    height: 190px;
    /* background-color: red; */
    border-bottom:1px solid #e8e8e8;
    margin-left: 12px;
}
#bo2{
    width:668px;
    height: 190px;
    /* background-color: red; */
    border-bottom:1px solid #e8e8e8;
    margin-left: 12px;

}
#bop1{
    display: none;
}
#boq1{
    display: none;
}
#boq2{
    display: none;
}
#boq3{
    display: none;
}
#boq4{
    display: none;
}
#bo1 #icon1{
    width:92px;
    height: 90px;
    margin-left:99px;
    margin-top:54px;
}
#bo2 #icon1{
    width:92px;
    height: 90px;
    margin-left:99px;
    margin-top:54px;
}
#bop2{
    font-size: 25px;
    width:395px;
    margin-left:247px;
    margin-top:-80px;
}


/*底部*/
#bottom{
    display:none;
}
#bottom2{
    width:750px;
    height: 303px;
    background-color: black;
    color:white;
    font-size: 20px;
    margin-top:70px; 
    margin-left:-20px; 
}
#bottom2 div{
    padding-top:100px;
    padding-left:185px;
}
#bottom2 div p{
    width:390px;

    text-align: center;
    
}

}